<div class="container form-signup">
  <div class="row">

    <h2 class="form-heading text-center brand">möbi</h2>
    <h3 class="form-heading text-center">
      Join the modern design living experience now!
    </h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: "control-label col-sm-12" %>
        <div class="col-sm-12">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label col-sm-12" %>

        <div class="col-sm-12">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label col-sm-12" %>
        <div class="col-sm-12">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <div class="actions col-sm-12">
        <%= f.submit "Sign up", class: "btn btn-lg btn-default btn-block" %>
      </div>
    <% end %>

    <div class="form-signin-links text-center">
      <%= render "devise/shared/links" %>
    </div>
  
  </div>
</div>
