<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Thank you for signing up!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body style="margin: 0; padding: 0;">

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; border-color: #003964">

        <tr>
          <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">

              <tr>
                <td align="center">
                  <img src="https://s3.eu-central-1.amazonaws.com/moebimail/animat-rocket-color.gif" alt="Incoming Email!" width="300" height="300" style="display: block;" />
                </td>
              </tr>  
              <tr>  
                <td align="center" style="font-size: 12px; font-family: Arial, sans-serif;  color: #003964; padding: 0px 0 15px 0;">
                  &middot; THANK YOUR FOR SIGNING UP WITH US &middot;
                </td>
              </tr>
              <tr>  
                <td align="center" style="font-size: 35px; font-weight: bold; font-family: Arial, sans-serif; color: #003964;">
                  Welcome to <%= @appname %>
                </td>
              </tr>

            </table>
          </td>
        </tr>  
        

        <tr>  
          <td bgcolor="#e3f5fc" style="padding: 40px 30px 30px 30px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">

              <tr>
                <td align="center" style="font-size: 12px; font-family: Arial, sans-serif; color: #003964; padding: 0px 0 40px 0;">
                  <i>Great to have you here. Welcome to the <%= @appname %> family. Don't forget to confirm you email adress so you can enjoy the maximum shopping experience with us right away. </i>
                  <i>Yay, let the fun begin!</i>
                </td>
              </tr>

              <tr>
                <td align="center" style="font-size: 15px; font-family: Arial, sans-serif; line-height: 20px; color: #003964; padding: 0px 0 40px 0;">
                  <strong>Your <%= @appname %> Team!</strong>
                </td>
              </tr>

              <tr>
                <td align="center" style="font-size: 20px; text-transform: uppercase; font-family: Arial, sans-serif; color: #003964; padding: 0px 0 10px 0;">
                  <b>Also have a look at our great products</b>
                </td>
              </tr>

              <tr>
                <td>
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">

                    <tr>

                      <td width="260" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td>
                              <%= image_tag("articles/article1.jpg", height: '240', width: '100%', alt: "Stool", style: "display: block;") %>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 15px; font-family: Arial, sans-serif; line-height: 20px; color: #003964; padding: 25px 0 0 0;">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
                            </td>
                          </tr>
                        </table> 
                      </td>

                      <td style="font-size: 0; line-height: 0;" width="20">
                        &nbsp;
                      </td>

                      <td width="260" valign="top">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td>
                              <%= image_tag("articles/article1.jpg", height: '240', width: '100%', alt: "Stool", style: "display: block;") %>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size: 15px; font-family: Arial, sans-serif; line-height: 20px; color: #003964; padding: 25px 0 0 0;">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor, eget accumsan dictum, nisi libero ultricies ipsum, in posuere mauris neque at erat.
                            </td>
                          </tr>
                        </table> 
                      </td>

                    </tr>

                  </table>
                </td>
              </tr>

            </table>
        
          </td>
        </tr>

        <tr> 
          <td align="center" bgcolor="#f78383" style="padding: 30px 30px 30px 30px;">

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr>

                <td width="75%" style="font-size: 12px; font-family: Arial, sans-serif; color: #000000;">
                  Do not reply to this message. <br/>
                  It will be send directly into a black hole in space.
                  Go to <b><font color="#000000"><%= link_to 'Möbi', root_url %></font></b>
                </td>

                <td align="right">

                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <a href="http://www.facebook.com/madebyeve">
                          <img src="https://s3.eu-central-1.amazonaws.com/moebimail/icon-fb.png" alt="Facebook" width="25" height="25" style="display: block;" border="0" />
                        </a>
                      </td>

                      <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>

                      <td>
                        <a href="http://www.linkedin.com/madebyeve">
                         <img src="https://s3.eu-central-1.amazonaws.com/moebimail/icon-linkedin.png" alt="LinkedIn" width="25" height="25" style="display: block;" border="0" />
                        </a>
                      </td>

                    </tr>
                  </table>
                </td>

              </tr>
            </table>

          </td>
        </tr> 

      </table>
    </table>
  </body>
</html>