<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Articles</h1>

  <div class="row">
  
    <% @articles.each do |article| %>
      <div class= "col-sm-3">
        <%= link_to (image_tag(article.image_url)), article_path(article) %>
        <header>
          <h5><%= article.title %></h5>
        </header>
        
        <% if signed_in? && current_user.admin? %>
          <div class="btn-group">  
            <%= link_to article, class: 'btn btn-default btn-xs' do %>
              <i class="glyphicon glyphicon-eye-open"></i>
            <% end %>

            <%= link_to edit_article_path(article), class: 'btn btn-default btn-xs' do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>

            <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do %>
              <i class="glyphicon glyphicon-remove"></i>
            <% end %>
          </div>
        <% end %>


      </div>
    <% end %>
  
  </div>

  <% if signed_in? && current_user.admin? %>
    <div class="btn-control-group">
      <%= link_to new_article_path, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-plus"></i> New Article
      <% end %>
    </div>
  <% end %>


</div>
