<div class="container">
  <div class="row">

    <section class="main-article">
      <div class="col-sm-12">
        <%= image_tag(@article.article_image.article_thumb.url.to_s) %>
        <header> 
          <h1><%= @article.title %></h1>
          <h2><%= @article.subline %></h2>
        </header> 
      </div>

      <div class="col-sm-12 teaser-article">
        <i><%= @article.teaser %></i>
      </div>
    </section>

    <div class="col-sm-12">
      <p>
        <%= @article.body %>
      </p>
    </div>
  </div>

  <div class="btn-control-group">
    <%= link_to articles_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
    <% end %>

    <% if signed_in? && current_user.admin? %>

    <%= link_to edit_article_path(@article), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
    <% end %>

    <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-remove"></i> Destroy
    <% end %> 

    <% end %> 
  </div> 
</div>
<%= render partial: "shared/latest_products" %>
