<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag(@article.image_url) %>
    </div>

    <div class="col-sm-6">
      <p>
        <strong>Title:</strong>
        <%= @article.title %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @article.description %>
      </p>

      <p>
        <strong>Image url:</strong>
        <%= @article.image_url %>
      </p>
    </div>
  </div>

  <div class="btn-control-group">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-arrow-left"></i> Back
  <% end %>

  <%= link_to edit_article_path(@article), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-pencil"></i> Edit
  <% end %>

  <%= link_to @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-remove"></i> Destroy
  <% end %>  
</div> 

</div>
