<% cache article do %>
<div class= "col-sm-3 main-content main-content-gallery">

    <%= link_to (image_tag(article.article_image.url(:landing_page_thumb))), article_path(article) %>
 
  <header>
    <h5><%= article.title %></h5>
  </header>

  <% if signed_in? && current_user.admin? %>
  <div class="btn-group">  
    <%= link_to article, class: 'btn btn-default btn-xs' do %>
    <i class="glyphicon glyphicon-eye-open"></i>
    <% end %>

    <%= link_to edit_article_path(article), class: 'btn btn-default btn-xs' do %>
    <i class="glyphicon glyphicon-pencil"></i>
    <% end %>

    <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do %>
    <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>