
<div class= "col-sm-3 main-content main-content-gallery">

    <%= link_to product_path(product) do %> 
      <% if product.product_image? %>
        <%= image_tag (product.product_image.url(:medium)) %>
      <% end %>  
      
      <header>
        <h5><%= product.name %></h5>
      </header>
    <% end %>


  <% if signed_in? && current_user.admin? %>
    <div class="btn-group">  
      <%= link_to product, class: 'btn btn-default btn-xs' do %>
        <i class="glyphicon glyphicon-eye-open"></i>
      <% end %>

      <%= link_to edit_product_path(product), class: 'btn btn-default btn-xs' do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>

      <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do %>
        <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>
  <% end %>

 
</div>
