
<div class="container">

  <div class="row">
    
    <div class="col-sm-6">
      <% if @product.product_image.present? %>
      <%= image_tag @product.product_image.url, class: "img_zoom img-responsive", data_zoom_image: "@product.product_image.url" %>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h2><%= @product.name %></h2>

      <p>
        <strong>Average rating:</strong> 
        <span class="rated" data-score="<%= @product.average_rating %>"></span> 
      </p>

      <h5>
        <strong><%= @product.teaser %></strong>
      </h5>

      <p>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>


      <p>
        <strong>Color:</strong>
        <%= @product.colour %>
      </p>

      <% if @product.categorie.present? %>
      <p> 
        <strong>Category:</strong> 
        <%= @product.categorie.name %> 
      </p> 
      <% end %>
      
      
      <div class="row">
        <br>
        <div class="col-xs-9">
          <% if current_user.present? %>
          <%= render partial: "shared/custom_stripe_checkout_button" %>  
          <% else %>
          <%= render partial: "signin_before_purchase_modal" %> 
          <% end %>
        </div>
        <div class="col-xs-3">
          <p>  
            <span class="badge views">
            <i class="glyphicon glyphicon-eye-open"></i>
              <%= @product.views %>
            </span>
          </p>   
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @product.highest_rating_comment.present? || @product.lowest_rating_comment.present? %>
      <div class="col-sm-12">
        <hr>
        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
        <h5><strong>Rating</strong></h5>
      </div>
      <div class="col-sm-6">
        <% if @product.highest_rating_comment.user.first_name.present? %>
          <p>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <em>
                <%= @product.highest_rating_comment.user.first_name %>
              </em> 
              reviewed this product:
          </p>
        <% end %>
        <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
        <p>
          <%= @product.highest_rating_comment.body %>
        </p>
      </div>
      <div class="col-sm-6">
        <% if @product.comments.count >= 2 %>
          <% if @product.lowest_rating_comment.user.first_name.present? %>
            <p>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <em>
                <%= @product.lowest_rating_comment.user.first_name %> 
              </em> 
               reviewed this product:
            </p>
          <% end %>
          <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
          <p>
            <%= @product.lowest_rating_comment.body %>
          </p>
        <% end %>  
      </div>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <%= render 'new_comment' %>
    </div>
    <div class="col-sm-12">
      <a role="button" data-toggle="collapse" href="#collapseComments" aria-expanded="false" aria-controls="collapseExample">
        Show more reviews
      </a>
    </div> 
    <div class="collapse col-sm-12" id="collapseComments">
      <%= render 'comments' %>
    </div>
  </div>

  <div class="btn-control-group">
    <%= link_to products_path, class: 'btn btn-default' do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    <% end %>

    <% if signed_in? && current_user.admin? %>
    
      <%= link_to edit_product_path(@product), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>

      <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>  

    <% end %>
  </div> 

</div>


