<div class="container">

  <div class="row">
    <div class="col-sm-6">
        <%= image_tag @product.product_image.url if @product.product_image? %>
    </div>
    <div class="col-sm-6">
      <h2><%= @product.name %></h2>

      <p>
      <strong>Average Rating:</strong> 
        <span class="rated" data-score="<%= @product.average_rating %>"></span> 
      </p>

      <p>
        <strong>Teaser:</strong>
        <%= @product.teaser %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %>
      </p>

      <% if @product.categorie.present? %>
      <p> 
        <strong>Categorie:</strong> 
        <%= @product.categorie.name %> 
      </p> 
      <% end %>

      
      <%= form_with(url: '/payments/create') do |form| %>
        <%= render partial: "shared/stripe_checkout_button" %>
        <%= hidden_field_tag(:product_id, @product.id) %>
      <% end %> 
    


      <div class="row">
        <% if @product.highest_rating_comment.present? || @product.lowest_rating_comment.present? %>
          <div class="col-sm-12">
            <hr>
            <h5><strong>Rating</strong></h5>
          </div>
          <div class="col-sm-6">
            <% if @product.highest_rating_comment.user.first_name.present? %>
              <p>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <em>
                  <%= @product.highest_rating_comment.user.first_name %>
                </em> 
                 reviewed this product:
              </p>
            <% end %>
            <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></div>
            <p>
              <%= @product.highest_rating_comment.body %>
            </p>
          </div>
          <div class="col-sm-6">
          <% if @product.comments.count >= 2 %>
            <% if @product.lowest_rating_comment.user.first_name.present? %>
              <p>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <em>
                  <%= @product.lowest_rating_comment.user.first_name %> 
                </em> 
                 reviewed this product:
              </p>
            <% end %>
            <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></div>
            <p>
              <%= @product.lowest_rating_comment.body %>
            </p>
          <% end %>  
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <%= render 'new_comment' %>

  <%= render 'comments' %>
  
  <div class="btn-control-group">
    <%= link_to products_path, class: 'btn btn-default' do %>
      <i class="glyphicon glyphicon-arrow-left"></i> Back
    <% end %>

    <% if signed_in? && current_user.admin? %>
    
      <%= link_to edit_product_path(@product), class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>

      <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' do %>
        <i class="glyphicon glyphicon-remove"></i> Destroy
      <% end %>  

    <% end %>
  </div> 

</div>


