<!DOCTYPE html>
<html>
  <head>
    <title>Möbi</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body class="anchor-top">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid navbar-main">
       <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse-connect" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'möbi', home_path, class: "navbar-brand" %>
        </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-collapse-connect">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Living', static_pages_living_path %></li>
            <li><%= link_to 'Dining', static_pages_dining_path %></li>
            <li><%= link_to 'Lighting', static_pages_lighting_path %></li>
            <li><%= link_to 'All', products_path %></li>
            <li><%= link_to 'Trendscout', articles_path %></li>
            <li><%= link_to 'contact', static_pages_contact_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <%= render 'devise/menu/user_nav' %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    
    <% if notice %>
      <div class="container alert alert-info" role="alert">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>  
    
    <% if alert %>
      <div class="container alert alert-warning" role="alert">
        <p><%= alert %></p>
      </div>
    <% end %>



    <%= yield %>

    <div class="anchor-bottom"></div>
    <footer class="footer">
      <div class="container">

        <!-- search form -->
        <div class="row">
          <div class="col-sm-6 text-center">
            <h3>Find your <span class="glyphicon glyphicon-heart"></span> product!</h3>
          </div><!-- /.col-sm-6 -->
      
          <div class="col-sm-6">           
              <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
              <div class="searchform input-group">
                <%= form.text_field :q, id: 'q', class: "form-control", value: params[:q], placeholder: "Search for..."  %>
                <span class="input-group-btn">
                  <%= form.submit 'Go', class: "btn btn-default" %>
                </span>
              </div><!-- /input-group -->
              <% end %>
          </div><!-- /.col-sm-6 -->
        </div><!-- /.row -->
        <hr>
        <section class="footer-accordion">
          <!-- accordion -->
          <a class="footer-nav-btn" role="button" data-toggle="collapse" href="#footernav" aria-expanded="false" aria-controls="footernav">
            <h4>About us &amp; our Services <span class="caret"></span></h4>
          </a>
          <div class="collapse text text-center" id="footernav">
            <div class="row">
              <div class="col-sm-3">
                <h5>About</h5>
                <ul>
                  <li><%= link_to 'Our Story', static_pages_about_path %></li>
                  <li><%= link_to 'Visit us', static_pages_contact_path %></li>
                  <li><a href="#">Terms &amp; conditions</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Service</h5>
                <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Delivery</a></li>
                  <li><a href="#">Returns</a></li>
                </ul>
              </div>
              <div class="col-sm-3">
                <h5>Call us</h5>
                <p>005-555-555</p>
              </div>
              <div class="col-sm-3">
                <h5>New Customer Discount</h5>
                <p>10% off your first purchase</p>
              </div>
            </div>
          </div><!-- /.footernav -->
        </section>
        <section class="footer-baseline">  
          <p class="text-muted copyright-text">&copy; 2017 möbi</p>
        </section>
      </div>
    </footer>

  </body>
</html>
